{% extends 'base.html' %} {% block content %}
<div class="newRecipe">
  <h2>Create a new recipe:</h2>
  
  <form action="{{ url_for('main.create_recipe') }}" method="post">
    Recipe Name:<input type="text" id="name" name="name" required/><br />
    Description:<input type="text" id="description" name="description" required/><br />
    
    Number of People:<input type="number" id="number_people" name="number_people" required/><br />
    Cooking Time (in minutes):<input type="number" id="cooking_time" name="cooking_time" required/><br />

    <div id="ingredientPopup">
      <input type="hidden" id="ingredientCount" name="ingredientCount" value="1" />
      <h3 id="ingredientHeader">Add Ingredients:</h3>
    </div>
    <button onclick="addIngredient()" type="button">Add Ingredient</button>
    <div name="steps">
      <input type="hidden" id="stepCount" name="stepCount" value="1" />
      <h3 id="stepHeader">Add Steps:</h3>
      <div id="formSteps">
        <label for="step1">Step 1:</label>
        <input type="text" class="step" id="stepCount1" name="stepCount1" required />
      </div>
    </div>
    <button type="button" onclick="addStep()">Add Step</button>
    <br>
    <input type="submit" value="Submit" />
  </form>
</div>
<script>
  let ingredientCount = 0;

  function addIngredient() {
    ingredientCount++;
    const ingredientDiv = document.createElement("div");
    ingredientDiv.innerHTML = `
    <label for="units${ingredientCount}">Quantity:</label>
        <input type="number" class="quantity" id="quantity${ingredientCount}" name="quantity${ingredientCount}" required />
        <label "unit${ingredientCount}">Unit:</label>
        <input type="text" 
          class="unit" 
          id="unit${ingredientCount}" 
          name="unit${ingredientCount}"
          list="unitlist" 
          required />
          <datalist id="unitlist">
            <option value="Teaspoon (tsp)"></option>
    <option value="Tablespoon (tbsp)"></option>
    <option value="Cup"></option>
    <option value="Fluid Ounce (fl oz)"></option>
    <option value="Ounce (oz)"></option>
    <option value="Pound (lb)"></option>
    <option value="Gram (g)"></option>
    <option value="Kilogram (kg)"></option>
    <option value="Milliliter (ml)"></option>
    <option value="Liter (L)"></option>
    <option value="Quart (qt)"></option>
    <option value="Pint (pt)"></option>
    <option value="Gallon (gal)"></option>
    <option value="Inch (in)"></option>
    <option value="Centimeter (cm)"></option>
    </datalist>


          
        <label for="ingredientName${ingredientCount}">Ingredient:</label>
        <input
          type="text"
          class="ingredientName"
          id="ingredientName${ingredientCount}"
          name="ingredientName${ingredientCount}"
          list="ingredients"
          required
        /><br />
        <datalist id="ingredients">
          <option value="basil"></option>
          <option value="beef"></option>
          <option value="bell-pepper"></option>
          <option value="broccoli"></option>
          <option value="butter"></option>
          <option value="carrot"></option>
          <option value="cheese"></option>
          <option value="chicken"></option>
          <option value="chili-powder"></option>
          <option value="cinnamon"></option>
          <option value="cucumber"></option>
          <option value="cumin"></option>
          <option value="egg"></option>
          <option value="flour"></option>
          <option value="garlic"></option>
          <option value="garlic-powder"></option>
          <option value="ginger"></option>
          <option value="honey"></option>
          <option value="ketchup"></option>
          <option value="lemon"></option>
          <option value="lettuce"></option>
          <option value="lime"></option>
          <option value="mayonnaise"></option>
          <option value="milk"></option>
          <option value="mustard"></option>
          <option value="nutmeg"></option>
          <option value="olive-oil"></option>
          <option value="onion"></option>
          <option value="onion-powder"></option>
          <option value="paprika"></option>
          <option value="pasta"></option>
          <option value="pepper"></option>
          <option value="pork"></option>
          <option value="potato"></option>
          <option value="rice"></option>
          <option value="rosemary"></option>
          <option value="salt"></option>
          <option value="soy-sauce"></option>
          <option value="spinach"></option>
          <option value="sugar"></option>
          <option value="thyme"></option>
          <option value="tomato"></option>
          <option value="vanilla-extract"></option>
          <option value="vinegar"></option>
          <option value="yogurt"></option>
        </datalist>
        `;
    document.getElementById("ingredientPopup").appendChild(ingredientDiv);
    document.getElementById("ingredientCount").value = ingredientCount;
  }
  addIngredient();

  let stepCount = 1;
  function addStep() {
    stepCount++;
    const stepDiv = document.createElement("div");
    stepDiv.innerHTML = `
            <label for="step${stepCount}">Step ${stepCount}:</label>
            <input type="text" class="step" id="step${stepCount}" name="step${stepCount}" required>
        `;
    document.getElementById("formSteps").appendChild(stepDiv);
    document.getElementById("stepCount").value = stepCount;
  }
</script>

{% endblock %}