{% extends 'base.html' %}

{% block content %}
<section>
  <div class="app-mainpage">
      <img src="../static/cover.jpg" alt="App Image" style="max-width: 100%;">
      <div>
        {% if current_user.is_authenticated: %}
        <div class="app-mainpage-welcome"> Hey, {{current_user.name}}!</div>
       {% else %}
       <div class="app-mainpage-welcome"> <a href="{{ url_for('auth.login') }}">Login</a></div>
      {% endif %}
        <p class="app-description-header">Start your cooking journey with us today.
        </p>
        <p class="app-description">Our app is here to help. Upload your favorite recipes, 
          get ideas, and rate other's recipies. 
      </p>
      </div>

  </div>
</section>

<section class="filter">
  <h2>Latest Recipies:</h2>
  <span>
    <form class="settings" action="{{ url_for('main.index') }}" method="get">
      <div class="flex-container">
        Sort by: <select name="filter">
          <option value="" selected disabled hidden>Choose here</option>
          <option>Rating Highest to Lowest</option>
          <option>Rating Lowest to Highest</option>
          <option>Cook Time Fastest to Slowest</option>
          <option>Cook Time Slowest to Fastest</option>
          <option>Newest</option>
          <option>Oldest</option>
        </select>
        <button type="submit" id="button">Go</button>
      </div>
    </form>
    <br>
  </span>
  <div id="recipes">
    {% for recipe in recipes %} {% include 'recipe_preview_template.html' %}
    {% endfor %}
  </div>
</section>
{% endblock %}