{% extends 'base.html' %}
{% block content %}
<section class="filter">
  <span>
    <form class="settings" action="{{ url_for('main.index') }}" method="get">
      <div class="flex-container">
        Sort by: <br /><select name="selection">
          <option value="" selected disabled hidden>Choose here</option>
          <option>Rating Highest to Lowest</option>
          <option>Rating Lowest to Highest</option>
          <option>Cook Time Fastest To Slowest</option>
          <option>Cook Time Fastest to Slowest</option>
          <option>Newest</option>
          <option>Oldest</option>
        </select><br />
        <button type="submit" id="button">Go</button>
      </div>
    </form>
    <br>
  </span>
  <div id="recipes">
    {% for recipe in recipes %} {% include 'recipe_preview_template.html' %}
    {% endfor %}
  </div>
</section>
{% endblock %}