{% extends 'base.html' %} {% block content %}
<section class="filter">
  <span>
    <form class="settings" action="{{ url_for('main') }}" method="get">
      Sort by:
        <select name="selection">
        <option>Rating Highest to Lowest</option>
        <option>Rating Lowest to Highest</option>
        <option>Cook Time Fastest To Slowest</option>
        <option>Cook Time Slowest to Fastest</option>
        <option>Newest</option>
        <option>Oldest</option></select
      ><br>
      <button type="submit" id="button">Go</button>
    </form>
  </span>
  <div id="recipes">
    {% for recipe in recipes %} {% include 'recipe_template.html' %}
    {% endfor %}
  </div>
</section>
