{% extends 'base.html' %} {% block content %} {% if
current_user.is_authenticated: %}
<div>User:</div>

<div class="userProfile">
  <img id="userIcon" src="{{ url_for('static', filename='profile.png') }}" />
  <h1>{{user.name}}</h1>
  {% if user.id == current_user.id %}
  <div class="toolbar">
    <button onclick="populateRecipes()" id="button1">My Recipes</button>
    <button onclick="populateRatings()" id="button2">My Ratings</button>
    <button onclick="populateBookMarks()" id="button3">My Bookmarks</button>
  </div>
  <div class="display">
    <div id="recipes">
      {% for recipe in recipes %} {% include 'recipe_preview_template.html' %} {% endfor %}
    </div>

    //need to adjust for user specific ratings
    <div id="ratings">
      {% for rating in ratings %} {% include 'recipe_preview_template.html' %} {% endfor %}
    </div>
    <div id="bookmarks">
      {% for boomark in bookmarks %} {% include 'recipe_preview_template.html' %} {% endfor %}
    </div>
  </div>
  <script>
    populateRecipes()

    function populateRecipes() {
      // Reset all buttons to inactive state
      for (let i = 1; i <= 2; i++) {
        document.getElementById(`button${i}`).classList.remove('active');
      }
      // Activate the clicked button
      document.getElementById(`button${1}`).classList.add('active');
      document.getElementById("recipes").style.display = "block"; 
      document.getElementById("ratings").style.display = "none"; 
      document.getElementById("bookomarks").style.display = "none"; 
      
    }

    function populateRatings() {
      // Reset all buttons to inactive state
      for (let i = 1; i <= 2; i++) {
        document.getElementById(`button${i}`).classList.remove('active');
      }
      // Activate the clicked button
      document.getElementById(`button${2}`).classList.add('active');

      document.getElementById("recipes").style.display = "none"; 
      document.getElementById("ratings").style.display = "block"; 
      document.getElementById("bookomarks").style.display = "none"; 
    }
    function populateBookMarks() {
      // Reset all buttons to inactive state
      for (let i = 1; i <= 3; i++) {
        document.getElementById(`button${i}`).classList.remove('active');
      }
      // Activate the clicked button
      document.getElementById(`button${3}`).classList.add('active');

      document.getElementById("recipes").style.display = "none"; 
      document.getElementById("ratings").style.display = "none"; 
      document.getElementById("bookomarks").style.display = "block"; 
    }
  </script>

  {% else %}
  <div class="toolbar">
    <button onclick="populateRecipes()" id="button1">Recipes</button>
    <button onclick="populateRatings()" id="button2">Ratings</button>
  </div>
  <div class="display">
   <div id="recipes">
      {% for recipe in recipes %} {% include 'recipe_preview_template.html' %} {% endfor %}
    </div>

    //need to adjust for user specific ratings
    <div id="ratings">
      {% for rating in ratings %} {% include 'recipe_preview_template.html' %} {% endfor %}
    </div>
  </div>
  <script>
    populateRecipes()

    function populateRecipes() {
      // Reset all buttons to inactive state
      for (let i = 1; i <= 2; i++) {
        document.getElementById(`button${i}`).classList.remove('active');
      }
      // Activate the clicked button
      document.getElementById(`button${1}`).classList.add('active');
      document.getElementById("recipes").style.display = "block"; 
      document.getElementById("ratings").style.display = "none"; 
      
    }

    function populateRatings() {
      // Reset all buttons to inactive state
      for (let i = 1; i <= 2; i++) {
        document.getElementById(`button${i}`).classList.remove('active');
      }
      // Activate the clicked button
      document.getElementById(`button${2}`).classList.add('active');

      document.getElementById("recipes").style.display = "none"; 
      document.getElementById("ratings").style.display = "block"; 
    }
  </script>
  
  {% endif %}

  {% if follow_button == "follow" %}
  <form action="{{ url_for('main.follow', user_id=user.id) }}" method="post">
    <input type="submit" value="Follow" />
  </form>
  {% elif follow_button == "unfollow" %}
  <form action="{{ url_for('main.unfollow', user_id=user.id) }}" method="post">
    <input type="submit" value="Unfollow" />
  </form>
  {% endif %}
</div>

 {% endblock %}

