{% extends 'base.html' %}

{% block content %}
  <header>
    <h2>Sign Up to Start Chronicling!</h2>
  </header>
  <body>

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    {% if message != "Please log in to access this page." %}
        <div class="notification">{{ message }}</div>
        {% endif %}
    {% endfor %}
    {% endwith %}

    <button class="login-button" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign Up</button>

    <div id="id02" class="modal">
      <form class="modal-content animate" action="{{ url_for('auth.signup') }}" method="post">
        <div class="container">
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" required class="login-input">
          <br>
          <br>
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required class="login-input">
          <br>
          <br>
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required class="login-input">
          <br>
          <br>
          <label for="password_repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="password_repeat" required class="login-input">
              
          <button type="submit" class="login-button">Sign Up</button>
          
          <!-- Display errors if any -->
          <p style="color: red;">{{ error }}</p>
        </div>
      </form>
    </div>
    
    <script>
      var modal2 = document.getElementById('id02');
      window.onclick = function(event) {
          if (event.target == modal2) {
              modal2.style.display = "none";
          }
      }
    </script>
    
  </body>
{% endblock %}
