.image {
  max-width: 40px;
  height: auto;
}

header {
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#myProfile {
  float: right;
}

.message {
  border-radius: 10px;
  background-color: beige;
  padding: 10px;
  border: 2px solid black;
  margin: 3px;
}

.metadata {
  font-size: small;
}

.tweet {
  font-size: large;
}

#addSubmit{
  padding: 8px;
  width: 35%;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  align-self: center;
} 

#addSubmit:hover{
  background-color: #111;
} 

.userProfile {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

#userIcon {
  display: block;
  max-width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.notification {
  font-size: large;
  background-color: lightcoral;
}

/* Star Rating */
.ChangeRating {
  display: inline-block;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.filter {
  text-align: center;
  padding: 20px;
}

.recipe-image{
  max-width: 400px;

} 

.settings {
  display: inline-block;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20%;
}

.flex-container3 {
  display: flex;
  justify-content: center;
}

.details{
  align-self: left;
} 

#recipes {
  align-content: center;
  align-self: center;
  justify-content: center;
} 

.rating label {
  position: relative;
  width: 30px; 
  height: 30px; 
  cursor: pointer;
} 

.rating {
  /*Legacy feature: background: url("/static/star.png") */
  width: 100%;
  height: 100%;
  width: 30px; 
  height: 30px; 
}

/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li.login {
  float: right
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #008152;
}

.activetab {
  background-color: #04AA6D;
}

/* Login Pop-Up */
/* Unique styling for login-related elements */
.login-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  background-color: #04AA6D;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signup-button{
  background-color: #04AA6D;
  color: white;
  font-weight: bold;
  padding: 14px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 12%;
} 

.login-button:hover {
  opacity: 0.8;
}

.container {
  padding: 25px;
}

/* Pop-Up background */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  padding-top: 50px;
  background-color: rgba(0,0,0,0.5);
}

/* Pop-Up Box */
.modal-content {
  background-color: white;
  border-radius: 5px;
  margin: 5% auto;
  width: 60%;
}

/* Animation */
.animate {
  animation: animatezoom 0.5s
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.recipe_preview {
  width: 100%; /* Adjust the width as needed */
  box-sizing: border-box;
  border: 1px solid #ddd; /* Optional: Add a border for visual separation */
  margin-bottom: 20px; /* Optional: Add margin for spacing between recipe previews */
}

#formdiv{
  justify-content: space-between;
}

#cooktime{
  text-align: left;
  flex: 50%;
}

#numpeople{
  text-align: left;
  flex: 50%;
}

.left-preview {
  flex: 40%; /* Adjust the width of the left side */
}

.right-preview {
  flex: 60%; /* Adjust the width of the right side */
  padding-left: 20px; /* Optional: Add padding for spacing between photo and details */
  background-color: #ececec;
}

img {
  max-width: 100%; /* Make sure the image doesn't exceed its container */
  height: auto; /* Maintain the aspect ratio of the image */
  display: block;
}

/* Add additional styling as needed for other elements */
.recipe.header a {
  font-size: 1.2em;
  font-weight: bold;
}

#recipehead {
  text-align: center;
} 

.recipe {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  margin: 5px;
}

.ingredient,
.step {
  margin-bottom: 8px;
}

.app-mainpage {
  display: flex;
  align-items: center;
  padding: 80px 0; 
  background-color: #333;
  margin: 20px 0;
}

.app-mainpage img {
  width: 45%; 
  margin-right: 20px; 
  margin-left: 20px;
  background-color: #111;
  border-radius: 10%; 
}

.app-description {
  font-size: 24px; 
  color: #b3b3b3; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-description-header {
  font-size: 50px; 
  color: #fff; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #555;
  padding: 10px;
  box-shadow: 0px 10px 10px #414141;
}

.app-mainpage-welcome {
  font-size: 50px; 
  color: #008152; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Colors */
.recipe.header a {
  color: #111;
}

.recipeheader a {
  text-decoration: none;
  color: #333;
}

.number-of-people,
.cook.time,
.date,
.totalrating,
.userrating,
.details {
  color: #333;
  margin-top: 10px;
  text-align: left;
}

.prerating {
  color: #333;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.recipeheader{
  color: #333;
  text-align: left;
  font-size: 120%;
  margin-top: 10px;
} 

.newRecipe {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

#name,
#description{
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;

}

#number_people{
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 40%;
  box-sizing: border-box;
  text-align: left;
}

#cooking_time{
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  box-sizing: border-box;
  text-align: left;
}

.step {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.quantity {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 10%; /* Set a specific width for quantity and unit */
    box-sizing: border-box;
}

.unit {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 24.2%; /* Set a specific width for quantity and unit */
  box-sizing: border-box;
}

.ingredientName {
    margin-bottom: 10px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 35%; /* Set a specific width for quantity and unit */
    box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #04AA6D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #008152;
}

button:active {
  background-color: #008152;
}
