<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Microblogging app</title>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='microblog.css') }}">
    </head>
    <body>
        <header>
            <h1>ChatMe
                <span class="banner"><a href="{{ url_for('main.profile') }}"><img class="image" id="myProfile" src="{{ url_for('static', filename='profile.png') }}"></a></span>
            </h1>
            <div class="newTweet"><a href="{{ url_for('main.index') }}">Post new chat</a></div>
        </header>
        <section class="content">
            {% block content %}{% endblock %}
        </section>
        <footer><small>Developed for Web applications</small></footer>
    </body>
</html>

