{% extends 'recipe_template.html' %}
{% block content %}
<section>
  {% if current_user.is_authenticated: %}
  <div class="User Rating">Your Rating: {{rating.value}} / 5</div>
  <div class="ChangeRating">
    Rating:
    <input type="radio" id="star5" class="rating" value="5" onclick="submitRating(5)" /><label for="star5"></label>
    <input type="radio" id="star4" class="rating" value="4" onclick="submitRating(4)" /><label for="star4"></label>
    <input type="radio" id="star3" class="rating" value="3" onclick="submitRating(3)" /><label for="star3"></label>
    <input type="radio" id="star2" class="rating" value="2" onclick="submitRating(2)" /><label for="star2"></label>
    <input type="radio" id="star1" class="rating" value="1" onclick="submitRating(1)" /><label for="star1"></label>
  </div>
</section>

<script>
  function submitRating(rating) {
    fetch("/post/<int:recipe_id>/submit_rating", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ rating: rating }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Server response:", data);
        // Handle the server response as needed
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }
</script>

{% endblock %}
