<div class="recipe_preview">
    <div class="flex-container">
      <span class="left-preview">
       # we can use chat to get the bookmarking technology down for photos
        <a><img /></a>
      </span>
      <span class="right-preview">
        <div class="recipe header" href="{{ url_for('main.recipe', recipe_id=recipe.id) }}">{{recipe.name}}</div>
        <div class="author" href="{{ url_for('main.profile', user_id=recipe.user.id) }}">by {{ recipe.user.name }}</div>
        <div class="number-of-people">
            Feeds 
            <span id="numberPeople">{{ recipe.number_people }}</span> 
            {% if recipe.number_people == 1 %}
              {{ 'person' }}
            {% else %}
              {{ 'people' }}
            {% endif %}
        </div>
        <div class="cook time">{{recipe.cooking_time}} minutes</div>
        <div class="rating">
          Rated: #need to add a function for accumulating the total rating
        </div>
      </span>
    </div>
</div>
