<div class="recipe">
  <div>
    <span>
     # we can use chat to get the bookmarking technology down
      <a><img /></a>
    </span>
    <span>
      <div class="recipe header">{{recipe.name}}</div>
      <div class="author">by {{ recipe.user.name }}</div>
      <div class="number of people">
        Feeds {{recipe.number_people}} people #need the logic for 1 person or
        plural
      </div>
      <div class="cook time">{{recipe.cooking_time}} minutes</div>
      <div class="date">Created {{recipe.timestamp}}</div>
      <div class="rating">
        Rated: #need to add a function for accumulating the total rating
      </div>
    </span>
  </div>
</div>

<!--
<form action="{{ url_for('bp.upload_photo', recipe_id=recipe.id) }}" method="post" enctype="multipart/form-data">
    <input type="file" name="photo" accept="image/jpeg,image/png" required>
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
    <input type="submit" value="Upload Photo">
</form>
-->
