<div class="recipe">
  <div>
    
      {% if current_user.is_authenticated: %}
      <form action="{{ url_for('main.bookmark', recipe_id=recipe.id) }}" method="post">
        {% if bookmark %}
        <button type="submit" id="button">Remove bookmark</button>
        {% else %}
        <button type="submit" id="button">Bookmark</button>
        {% endif %}
      </form>
      {% endif %}
    
    <span>
      
      <div class="recipe header">
        <a href="{{ url_for('main.recipe', recipe_id=recipe.id) }}">{{recipe.name}}</a>
        by
        <a href="{{ url_for('main.profile', user_id=recipe.user.id) }}">
           {{ recipe.user.name }} </a>
      </div>
      
      <div class="number-of-people">
        Feeds
        <span id="numberPeople">{{ recipe.number_people }}</span>
        {% if recipe.number_people == 1 %}
        {{ 'person' }}
        {% else %}
        {{ 'people' }}
        {% endif %}
      </div>
      <div class="cook time">{{recipe.cooking_time}} 
        {% if recipe.cooking_time == 1 %}
        {{ 'minute' }}
        {% else %}
        {{ 'minutes' }}
        {% endif %}
      </div>
      <div class="date">Created {{recipe.timestamp}}</div>
      <section>
        <div class="Total Rating">Overall Rating: {{recipe.average_rating}} / 5</div>
        {% if current_user.is_authenticated: %}
        <div class="User Rating">Your Rating: {{rating.value}} / 5</div>
        

        <div class="flex-container">

          <form action="{{ url_for('main.rate', recipe_id=recipe.id, value = 1) }}" method="post">
            <button type="submit" id="star1" name="star" class="rating">1</button>
          </form>
          <form action="{{ url_for('main.rate', recipe_id=recipe.id, value = 2) }}" method="post">
            <button type="submit" id="star2" name="star" class="rating">2</button>
          </form>
          <form action="{{ url_for('main.rate', recipe_id=recipe.id, value = 3) }}" method="post">
            <button type="submit" id="star3" name="star" class="rating">3</button>
          </form>
          <form action="{{ url_for('main.rate', recipe_id=recipe.id, value = 4) }}" method="post">
            <button type="submit" id="star4" name="star" class="rating">4</button>
          </form>
          <form action="{{ url_for('main.rate', recipe_id=recipe.id, value = 5) }}" method="post">
            <button type="submit" id="star5" name="star" class="rating">5</button>
          </form>
          
        </div>
        {% endif %}
      </section>
    </span>
  </div>
  <br>
  <div class="ingredients">
    <h3 id="ingredientHeader">Ingredients:</h3>
    {%for qingredient in recipe.qingredients%}
    <div class="ingredient">{{qingredient.quantity}} {{qingredient.unit}} of {{qingredient.ingredient.name}}</div>
    {%endfor%}
  </div>
  
  <div class="steps">
    <h3 id="stepHeader">Steps:</h3>
    {%for step in recipe.steps%}
    <div class="step">{{step.position}}. {{step.text}}</div>
    {%endfor%}
  </div>

  {% if recipe.photos %}
  <div>
    {% for photo in recipe.photos %}
    <img class=recipe-image src="{{ url_for('static', filename='photos/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="photo">
    {% endfor %}
  </div>
  {% endif %}

  <div>
    <form action="{{ url_for('main.upload_photo', recipe_id=recipe.id) }}" method="post" enctype="multipart/form-data">
      <input type="file" name="photo" accept="image/jpeg,image/png" required>
      <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
      <br>
      <input type="submit" value="Upload Photo">
    </form>
  </div>
</div>