<div class="recipe">
  <div>
    <span class="photos">
      # we can use chat to get the bookmarking technology down
      <a><img /></a>
    </span>
    <span>
      <div class="recipe header">{{recipe.name}}</div>
      <div class="author">by {{ recipe.user.name }}</div>
      <div class="number-of-people">
        Feeds
        <span id="numberPeople">{{ recipe.number_people }}</span>
        {% if recipe.number_people == 1 %}
        {{ 'person' }}
      {% else %}
        {{ 'people' }}
      {% endif %}
      </div>
      <div class="cook time">{{recipe.cooking_time}} minutes</div>
      <div class="date">Created {{recipe.timestamp}}</div>
      <section class="rating">
        {% block rating %}{% endblock %}
      </section>
    </span>
  </div>

  #need to fix the quantity of ingredients section to render

  <div class="ingredients">
    {%for qingredient in recipe.qingredients%}
    <div class="ingredient">{{qingredient.quantity}} {{qingredient.units}} of {{qingredient.ingredient.name}}</div>
    {%endfor%}
  </div>

  <div class="steps">
    {%for step in recipe.steps%}
    <div class="step">{{step.postion}}. {{step.text}}</div>
    {%endfor%}
  </div>
</div>
